1. How-to-count-distance-to-the-previous-zero
For each value, count the difference of the distance from the previous zero (or the start
of the Series, whichever is closer) and if there are no previous zeros,print the position
Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}

In [12]:
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

x = (df.X != 0).cumsum()
y = x != x.shift()
Y = y.groupby((y != y.shift()).cumsum()).cumsum()
Y = Y.astype(int)

dict = {'X':df.X, 'Y':Y}
df = pd.DataFrame(dict)

print(df)

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

2. Create a DatetimeIndex that contains each business day of 2015 and use it to index a
Series of random numbers.

In [32]:
import pandas as pd
import numpy as np

rng = pd.date_range('1/1/2015', periods=365, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts = pd.DataFrame(ts)
ts.columns=['Random_Number']
ts.head()

            Random_Number
2015-01-01      -0.821550
2015-01-02       0.930365
2015-01-03      -0.395708
2015-01-04       1.600874
2015-01-05      -1.246023

3. Find the sum of the values in s for every Wednesday

In [31]:
ts['WeekDayName'] = ts.index.weekday_name
ts.head()
s = ts.where(lambda x:x.WeekDayName =='Wednesday').groupby(['WeekDayName']).agg({'Random_Number':'sum'})
print(s)

             Random_Number
WeekDayName
Wednesday        -0.817972

4. Average For each calendar month

In [16]:
ts['Month'] = ts.index.month
ts
ts.groupby(['Month']).agg({'Random_Number':'mean'})

       Random_Number
Month
1          -0.053435
2           0.009027
3          -0.091447
4           0.192180
5          -0.097736
6          -0.098032
7          -0.378198
8           0.078481
9          -0.003362
10          0.050326
11          0.156348
12          0.307497

5. For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

In [17]:
ts['Quarter'] = ts.index.quarter
ts
idx=ts.groupby(['Quarter'])['Random_Number'].transform(max) == ts['Random_Number']
ts[idx]

            Random_Number WeekDayName  Month  Quarter
2015-03-09       3.222159      Monday      3        1
2015-04-03       2.188624      Friday      4        2
2015-09-09       2.213601   Wednesday      9        3
2015-10-20       2.646256     Tuesday     10        4